#Heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -2vh;
    margin-bottom: -1.6vh;
}

