#Heading {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(20px, 2.6vw, 30px);
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -1.8vh;
    margin-bottom: -0.8vh;
}

