.DescriptionBox {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 30vw;
    height: 30vh;
}

.DescriptionBox h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(20px, 2.8vw, 48px);
    line-height: 1.2em;
    margin-top: 1.6vh;
    margin-bottom: -1vh;
}

.DescriptionBox p {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(10px, 1.57vw, 20px);
    line-height: 1.5em;
    padding-left: 3vw;
    padding-right: 3vw;
}