.DescriptionBox {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 30vw;
    height: 32vh;
}

.DescriptionBox h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(20px, 2.6vw, 26px);
    line-height: 1.2em;
    margin-top: 1.4vh;
    margin-bottom: -1.2vh;
}

.DescriptionBox p {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(12px, 1.7vw, 18px);
    line-height: 1.5em;
    padding-left: 3vw;
    padding-right: 3vw;
}